:root {
	--overlay-color-1: #7575fa;
	--overlay-color-2: rgb(134, 220, 231);
	--anim-duration: 3s;
}
body,
html {
	font-family: "Nunito", sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.seagullNode {
	position: relative;
	font-size: 12px;
	cursor: pointer;
	border-radius: 50%;
	text-align: center;
	text-decoration: none;
	z-index: 1;
	color: #000000;
	background: linear-gradient(
		-45deg,
		var(--overlay-color-1),
		var(--overlay-color-2)
	);
	background-size: 400% 400%;
	transition: all 0.6s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

#seagullContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	width: 100vw;
	height: 100vh;
}

#seagull {
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	width: 100vw;
	height: 100vh;
}

@keyframes AnimationName {
	0% {
		background-position: 42% 0%;
	}
	50% {
		background-position: 59% 100%;
	}
	100% {
		background-position: 42% 0%;
	}
}

.seagullNode:hover {
	animation: AnimationName var(--anim-duration) ease infinite;
	box-shadow: 0 0 10px rgba(11, 52, 187, 0.6);
}

.seagullNode:hover .seagullNodeInfo {
	display: flex;
	opacity: 1;
}

.seagullNodeName {
	font-size: 2em;
	font-weight: bold;
}
.seagullNodeDesc {
	font-size: 1em;
}

.seagullNodeInfo {
	display: flex;
	position: relative;
	width: 500%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: opacity 0.4s ease;
	opacity: 0;
}

.left {
	left: -230%;
}
.up {
	top: -200%;
}

.right {
	right: -230%;
}
.down {
	top: 200%;
}
