:root {
	--overlay-color-1: #7575fa;
	--overlay-color-2: rgb(134, 220, 231);
	--anim-duration: 3s;
}
body,
html {
	font-family: "Nunito", sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#seagullContainer {
	position: relative;
	z-index: 1;
	width: min-content;
	margin: 0 auto;
	height: 100vh;
	user-select: none;
}

#seagull {
	position: relative;
	width: 700px;
	z-index: -1;
	transition: all 0.4s ease;
	pointer-events: none;
	user-select: none;
}
.seagullNode {
	position: absolute;
	cursor: pointer;
	border-radius: 50%;
	text-decoration: none;
	z-index: 5;

	transform: scale(0.8);

	color: #000000;
	background: linear-gradient(
		-45deg,
		var(--overlay-color-1),
		var(--overlay-color-2)
	);
	background-size: 400% 400%;


	transition: all 0.6s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 700px) {
	#seagull {
		margin-top: 50px;
		width: 390px;
	}

}


@keyframes gradAnim {
	0% {
		background-position: 42% 0%;
		box-shadow: 0px 0px 10px 3px var(--overlay-color-2);
	}
	50% {
		background-position: 59% 100%;
		box-shadow: 0px 0px 10px 3px var(--overlay-color-1);
	}
	100% {
		background-position: 42% 0%;
		box-shadow: 0px 0px 10px 3px var(--overlay-color-2);
	}
}

.seagullNode:hover {
	animation: gradAnim var(--anim-duration) ease infinite;
	transform: scale(1.1);
}

.seagullNode:hover .seagullNodeInfo {
	opacity: 1;
}

.seagullNodeEditable {
	border: 1px solid #000000;
	position: absolute;
	cursor: pointer;
	border-radius: 50%;
	text-align: center;
	z-index: 5;
	color: #000000;
	background: rgb(0, 191, 255);
	transition: stroke 0.4s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.selected {
	border: 3px solid rgb(209, 129, 142);
}

.seagullNodeName {
	font-size: 2em;
	font-weight: bold;
}
.seagullNodeDesc {
	font-size: 1em;
}

.seagullNodeInfo {
	display: flex;
	position: relative;
	width: 20rem;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: opacity 0.4s ease;
	opacity: 0;
}
